<!DOCTYPE html>
<html 
  lang="ru" 
  <%- helmet.htmlAttributes.toString() %>
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%- helmet.title.toString() %> 
    <%- helmet.meta.toString() %> 
    <%- helmet.link.toString() %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script async src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
    <link rel="stylesheet" href="<%- manifest['main.css'] %>" />
  </head>
  <body 
    <%- helmet.bodyAttributes.toString() %>
  >
    <noscript>
      Включите пожалуйста Javascript в настройках браузера, или обновите версию
      браузера.
    </noscript>

    <div id="root">
      <%- content %>
    </div>

    <script>
      window.initialGlobalState = <%- JSON.stringify(initialGlobalState) %>;
    </script>

    <script src="<%- manifest['main.js'] %>"></script>
  </body>
</html>
